# Ignore everything
*
!.gitignore

# Only a copy of the bashrc
!.bashrc


# But not these folders

!/nvim
nvim/*
!/nvim/lua
!/nvim/lua/*
!/nvim/lua/plugins/*
!/nvim/lua/config/*


!/tmux
!/tmux/*
!/tmux/plugins/*
!/tmux/plugins/gruvbox/*
!/tmux/plugins/tmux-sensible/*
!/tmux/plugins/tmux-yank/*
!/tmux/plugins/tpm/*
!/tmux/vim-tmux-navigator/*



!/alacritty
!/alacritty/*
