# Ignore everything
*
!.gitignore

# Only a copy of the bashrc
!.bashrc


# But not these folders

!/nvim
nvim/*
!/nvim/lua
!/nvim/lua/*
!/nvim/lua/plugins/*
!/nvim/lua/config/*


!/tmux
!/tmux/tmux.conf



!/alacritty
!/alacritty/*
