snippet doc "Standard LaTeX document for CS notes" b
	\documentclass{article}

	\usepackage{amsmath}
	\usepackage{amssymb}
	\usepackage{graphicx}
	\usepackage{listings}
	\usepackage{hyperref}
	\usepackage{geometry}
	\usepackage{enumitem}
	\usepackage{xcolor}

	\geometry{margin=1in}

	\title{${1:Title}}
	\author{Simon Vinding Brodersen(rzn875)}
	\date{${3:\today}}

	\begin{document}

	\maketitle

	${0:Your content here}

	\end{document}
