layout {
    default_tab_template {
      pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
          color_fg1 "#e2cca9"
          color_fg0 "#e2cca9"
          color_bg_statusline1 "#282828"
          color_bg_statusline2 "#32302f"
          color_bg_statusline3 "#504945"

          format_left   "{mode} #[fg=$fg1,bold]{session}"
          format_center "{tabs}"
          format_right  "{command_git_branch} {datetime}"
          format_space  ""

          hide_frame_for_single_pane "true"

          mode_normal        "#[bg=$bg_statusline2] {name} "
          mode_locked        "#[bg=$bg_statusline2] {name} "
          mode_resize        "#[bg=$bg_statusline2] {name} "
          mode_pane          "#[bg=$bg_statusline2] {name} "
          mode_tab           "#[bg=$bg_statusline2] {name} "
          mode_scroll        "#[bg=$bg_statusline2] {name} "
          mode_enter_search  "#[bg=$bg_statusline2] {name} "
          mode_search        "#[bg=$bg_statusline2] {name} "
          mode_rename_tab    "#[bg=$bg_statusline2] {name} "
          mode_rename_pane   "#[bg=$bg_statusline2] {name} "
          mode_session       "#[bg=$bg_statusline2] {name} "
          mode_move          "#[bg=$bg_statusline2] {name} "
          mode_prompt        "#[bg=$bg_statusline2] {name} "
          mode_tmux          "#[bg=$bg_statusline2] {name} "

          tab_normal   "#[fg=$fg1] {name} "
          tab_active   "#[bg=$bg_statusline1,fg=$fg1,bold,italic] {name} "

          command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
          command_git_branch_format      "#[fg=$fg1] {stdout} "
          command_git_branch_interval    "10"
          command_git_branch_rendermode  "static"

          datetime        "#[fg=$fg0,bold] {format} "
          datetime_format "%d %b %Y %H:%M"
          datetime_timezone "Europe/Berlin"
        }
      }
      children
    }
}
